@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Mada:wght@300;400&family=Poppins:wght@200&family=Indie+Flower&display=swap");
body {
  direction: rtl;
}

.btn::after {
  background: hsla(0, 0%, 100%, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  transition: top 0.15s, left 0.15s;
  pointer-events: none;
}

.btn:hover::after {
  top: 0;
  left: 0;
}
.btnGrayBack::after {
  background: rgba(0, 0, 0, 0.1);
}

.imgBorder::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 73px;
  left: 0;
  border-top: 20px solid #eee;
  border-bottom: 20px solid #eee;
  border-left: 10px solid #eee;
  border-right: 0;
  opacity: 0.85;
}
figure:before,
figure:after {
  content: "";
  position: absolute;
  width: 73px;
  height: 20px;
  right: 0;
  z-index: 1;
  background: #db3021;
}
figure:after {
  bottom: 0;
}
.infoText {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* .indicator {
  position: absolute;
  
  width: 120px;
  transition: all 0.2s ease-in-out;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  border: 2px solid #4a4a4a;
  border-radius: 2px;
}
.indicator::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  background: url(https://htmlburger.com/assets/images/icon-getting-started-tab-arrow.svg)
    no-repeat 0 0;
  width: 23px;
  height: 12px;
  transform: translateX(-50%);
} */
